

.row_name{
    display: flex;
    min-width: 196px;
    justify-content: space-between;
}
.dollar_symb{
    margin-right: 1px;
}
.store{
    text-align: center;
}
.td-border-right{
    border-right: solid 2px black;
}

#hats td{
    font-size: 20px;
}

